.blog__page {
  background:
          linear-gradient(90deg, @bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          linear-gradient(@bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          @dot-color;
  background-size: @dot-space @dot-space;

  .blog__test__titile-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .test__title {
      width: 150px;
      font-weight: normal;
      font-size: 50px;
      line-height: 62px;
      color: black;
    }
    .blog__search-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 510px;
      .modal__select-wrapper {
        margin: 0;
        width: 75%;
        .modal__phone {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .header__button {
        padding: 10px 25px;
        display: inline-block;
        font-family: 'Cuprum','Arial',sans-serif;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0;
        color: #fff;
        background-color: #305a7f;
        border: 1px solid #305a7f;
        border-radius: 0 10px 10px;
        cursor: pointer;
        &:hover {
          background-color: #4687b0;
          transition: background-color 100ms linear;
        }
        &:active {
          background-color: #509ecd;
        }
      }
    }
  }

  .insurance__blocks-wrapper {

    .insurance__blocks-wrapper-right {
      width: 23%;
      .insurance__info {
        margin-bottom: 24px;
        padding: 25px 25px;
        border-radius: 20px;
        background-color: @bg-color-blue;
      }
    }

    .insurance__blocks-wrapper-left {
      width: 73%;
      .pagination {
        width: 45%;
        margin-left: auto;

      }
      .insurance__btn {
        align-self: flex-end;
        margin-bottom: 30px;
      }
      .test__insurance-wrapper {
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid @superlight-grey;
      }
      .insurance__info {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 10px 120px;
        margin-bottom: 100px;
        .blog__social {
          position: absolute;

          left: 75px;
          top: 165px;
          a {
            display: block;
            margin-bottom: 15px;
            &:hover {
              .icon__fb-svg1 {
                fill: black;
                transition: fill 0.3s ease;
              }
              .icon__vk-svg1 {
                  fill: black;
                  transition: fill 0.3s ease;
              }
              .icon__odnoklassniki-svg,
              .icon__telegr-svg,
              .icon__viber-svg {
                  fill: black;
                  transition: fill 0.3s ease;
              }
            }
          }
          .icon__fb-svg {
            height: 20px;
            cursor: pointer;
            .icon__fb-svg1 {
              fill: @superlight-grey;
            }
          }
          .icon__vk-svg {
            width: 22px;
            cursor: pointer;
            .icon__vk-svg1 {
              fill: @superlight-grey;
            }
          }
          .icon__odnoklassniki-svg,
          .icon__telegr-svg,
          .icon__viber-svg {
            height: 22px;
            cursor: pointer;
              fill: @superlight-grey;
          }

        }
        .blog__current-title {
          margin-top: 30px;
          margin-bottom: 20px;
          font-family: 'cuprumbold', 'Arial', sans-serif;
          font-size: 25px;
          line-height: 22px;
          color: @bg-color-blue;
        }
        .blog__current-pic {

        }
        .blog__current-text {
          margin: 20px 0;
          font-size: 18px;
          line-height: 24px;
          color: @blog-text-grey;
          &--first {
            margin-bottom: 0;
          }
          &--last {
            margin-top: 0;
          }
        }
        .insurance__text--first {
          width: auto;
          margin-right: auto;
        }
        .insurance__text--first:last-child {
          margin-right: 0;
        }
        .test__price-text--icon {
          padding-left: 25px;
          &:before {
            content: none;
          }
        }
        .test__price-text {
          margin-bottom: 10px;
          letter-spacing: -0.025em;
          font-size: 14px;
          line-height: 16px;
          color: @superlight-grey;
          .icon__folder-svg,
          .icon__user-svg,
          .icon__date-svg,
          .icon__look-svg,
          .icon__comment-svg {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 15px;
            fill: @icon-blue;
          }
          .icon__user-svg {
            height: 18px;
            .modal__pass-svg1 {
              fill: @icon-blue;
            }
          }
          .icon__date-svg {
            height: 18px;
          }
          .icon__look-svg {
            width: 23px;
            height: 14px;
          }
          .icon__comment-svg {
            width: 21px;
            height: 17px;
          }
        }
      }
    }
    .insurance__text {
      display: block;
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: none;
      color: white;
      cursor: pointer;
      &:hover {
        color: @yellow-color;
        transition: 0.3s;
      }
    }


  }

}

.blog__page.blog__item {



  .insurance__blocks-wrapper {
    .insurance__blocks-wrapper-left {
      .main__reviews {
        order: 8;
        padding-top: 40px;
        padding-bottom: 80px;
        .container {
          width: 100%;
          .reviews__list {
            width: auto;
            .reviews__item {
              width: auto;
              .blog__stars-wrapper {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 12px;
              }
              .reviews__item-name-date {
                padding-left: 65px;
                //width: 215px;
                margin-bottom: 12px;
              }
            }
          }
          .reviews__pages {
            margin-top: 25px;
          }
          .blog__title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            .reviews__title {
              margin-bottom: 0;
              font-family: 'cuprumbold','Arial',sans-serif;
              font-size: 25px;
              line-height: 22px;
              color: #273c55;
            }
            .insurance__btn {
              margin-bottom: 0;
              padding: 10px 30px;
            }
          }
        }

      }


      .test__insurance-wrapper {
        padding-top: 20px;
        padding-bottom: 10px;
        border-top: 1px solid #b2b2b2;
        border-bottom: none;
        order: 2;
      }
      .blog__current-pic {
        order: 3;
      }
      .blog__current-text {
        order: 4;
      }
      .insurance__btn {
        order: 5;
        align-self: center;
      }

      .insurance__info .blog__social {
        order: 7;
        position: static;
        border-top: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        a,
        span {
          display: inline-block;
          padding: 15px 15px;
          margin-bottom: 0;
          color: @bg-color-blue;
          font-size: 18px;
          line-height: 23px;
        }
      }
      .insurance__info .blog__tags {
        order: 6;
        border-top: 1px solid #b2b2b2;
        margin-top: 50px;
        span {
          display: inline-block;
          padding: 15px 15px;
          margin-bottom: 0;
          color: @bg-color-blue;
          font-size: 18px;
          line-height: 23px;
        }
        a {
          color: @superlight-grey;
          font-size: 18px;
          &:hover {
            color: @bg-color-blue;
            transition: 0.3s;
          }
        }
      }
      .insurance__info .insurance__stars {
        width: 100px;
      }

    }

  }
}



//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {}
//Write all styles for tablet-desctop(less than 1280px)
@media (max-width: @mediumWidth)  {

}
//Write styles for tablet (less than 1024px)
@media (max-width: @lowWidth) {

}

//Write all styles for mobile
@media (max-width: @tabletWidth) {

}