//Write all styles for desktop

.events__title {
  margin-bottom: 60px;
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 62px;
}
.events__item-title {
  margin-top: 25px;

  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 25px;
  line-height: 22px;
  color: @bg-color-blue;

  &--gifts {
    margin-bottom: 15px;
    cursor: pointer;
  }
}

.events__item-time {
  margin-bottom: 15px;
  display: block;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: @gray-color;
}

.events__item-link {
  display: block;
  cursor: pointer;
  &:hover{
    img {
      filter: contrast(175%);
      transition: .4s;
    }
    .events__item-title {
      color: @light-blue;
      transition: .4s;
    }
    .events__item-time {
      color: @light-blue;
      transition: .4s;
    }

  }

}

.events__item-link--youtube {

    &::before {
      position: absolute;
      content: '';
      top: 30%;
      left: 50%;
      width: 66px;
      height: 49px;
      margin-left: -33px;
      background: url("../img/11-events/youtube-bg.png");
      z-index: 1;
    }

}

.events__offers-wrapper {
  width: 920px;
  margin: 0 auto;
  margin-top: 80px;
}

.events__offers-title {
  margin-bottom: 50px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 37px;
  line-height: 40px;
  text-align: center;
}

.events__offers-image-wrapper {
  display: flex;
  flex-wrap: wrap;

}

.events__offer-img-link {
  display: block;
}



.events__offers-overlay {
  display: none;
  width: 230px;
  height: 231px;
  position: absolute;
  z-index: 1;
  top: 0;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.64);
}

.events__offer-img-link {
  &:hover {
    .events__offers-overlay {
      display: block;
    }
  }
}

.events_offers-overlay-social {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 20px;
  width: 112px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: white;

}

.events_offers-overlay-likes,
.events_offers-overlay-comments {
  padding-left: 30px;
  &::before {
    position: absolute;
    left: 0;
    top: 3px;
    content: '';
    width: 23px;
    height: 20px;
    background: url("../img/11-events/heart.png") no-repeat center;
  }
}
.events_offers-overlay-comments {
  &::before {
    width: 20px;
    background: url("../img/11-events/comment.png") no-repeat center;

  }
}

.events_offers-overlay-text {
  margin: 0 auto;
  width: 192px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: white;
}

@media (max-width: @desctopWidth)  {
  .events {}

}

//Write all styles for tablet
@media (max-width: @mediumWidth)  {
  .events {
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .events {}
}