.form {
  display: flex;
  flex-direction: column;

}

.form__contacts {
  padding-top: 140px;
  padding-bottom: 160px;

  background: url("../img/03-contacts/car_bg--small.png") no-repeat center right 20%,
  url("../img/02-form-main/formpage-bg-small.png") no-repeat center;
  background-size: 35%, cover;

  &--close {
    display: none;
  }
}

.form-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 90px;
}

.form__btn {
  margin: 0;


  background-color: #fff;
  &:hover {
    background: linear-gradient(to right,#fff 15%, #fffccc 50%,#fff);
  }
}

.form__contacts__btn {
  margin: 0;
}

.form__personal {
  width: 331px;

  line-height: 18px;
  letter-spacing: 0.01em;
  color: #828282;
}

.form__personal-link {
  font-family: 'Roboto','Arial',sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .01em;
  color: @gray-color;
  border-bottom: 1px dashed @gray-color;
  &:hover{
    color: white;
    transition: .3s;
    border-bottom: none;
  }
  &--black {
    &:hover {
      color: black;
    }
  }
}

.form__text {
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid @gray-form-border-color;

  background-color: transparent;
  font-family: 'robotolight', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;

  outline: none;

  &:first-child {
    margin-top: 0;
  }
  &:focus {
    &::placeholder {
      color: @gray-form-text-color;
    }
    border-color: #ffffff;
  }
  &--hidden {
    visibility: hidden;
  }
}

.form__text--black {
  color: #000;
  &::placeholder {
    color: #000;
  }
  &:focus {
    &::placeholder {
      color: @gray-color;
    }
    border-color: @gray-color;
  }
}

.form__review-wrapper {
  margin: 0 auto;
  width: 39.5%;
  &--close {
    display: none;
  }
}

.form__review-form {
  margin-top: 85px;
}

.form__text--review {
  color: #fff;

}

.form__review--unauthorised {
  display: none;
}

.form--unauthorised .form__review--unauthorised {
  padding-left: 15px;
  display: block;
  color: @yellow-color;
}

.form--unauthorised .form__personal-link {
  color: inherit;
  border-color: @yellow-color;
}

.form--unauthorised:hover::before {
  display: block;
}

.form--unauthorised::before {
  content: attr(data-title);
  position: absolute;
  top: 62px;
  left: 212px;
  z-index: 1;
  display: none;
  width: 70%;
  padding: 6px 5px;
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  border: 1px solid #888;
  background-color: #fff;
}

//Hide tooltip on button
.form--unauthorised .form__btn--unauth::before {
  content: none;
}

.form__thanks-text,
.form__contact-text {
  margin-top: 85px;

  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.form__contact-text {
  margin-top: 18px;
  margin-bottom: 105px;
}

.form__contacts-wrapper {
  margin-left: 0;
}

.form__contacts-slogan {
  color: #000;
  &--color {
    margin-bottom: 85px;

    font-family: 'cuprumbold', 'Arial', sans-serif;
    color: @yellow-color;
  }
}

.form__contacts-text {
  font-size: 18px;
  line-height: 30px;

  &--mot-bottom {
    padding-bottom: 70px;
  }
  &--mot {
    padding-bottom: 35px;
    line-height: 25px;
  }
}

.form__contacts-thanks {
  margin-bottom: 25px;

  font-size: 20px;
  line-height: 26px;
}

.form__contacts-thanks-text {
  margin-bottom: 130px;

  font-family: 'robotolight', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}


//Write all styles for big-tablet and small desctop
@media (max-width: @desctopWidth)  {
  .form {}
}

//Write all styles for tablet
@media (max-width: @mediumWidth)  {

}

///Write styles for tablet (less than 1024px)
@media (max-width: @lowWidth) {
  .form__personal.form__personal--less {
    width: 220px;
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .form {
    .form__text {
      font-size: 16px;
      line-height: 22px;
    }
    .form__personal {
      width: 290px;
      line-height: 15px;
      font-size: 12px;
      letter-spacing: .01em;
      color: #828282;
      .form__personal-link {
        font-size: 12px;
      }
    }
  }
  .form__review-wrapper{
    max-width: 300px;
    width: 100%;
    padding: 0 15px;
    .form-btn-wrapper{
      flex-direction: column;
    }
    .btn.btn__review{
      margin-bottom: 15px
    }
  }
}