<!--Start modal windows layout-->
<!--Add/remove class .modal--active in order to show/hide auth-wrapper-->
<div class="modal modal--enter">
	<!--Add/remove class .modal--active in order to show/hide auth-wrapper-->
	<section class="modal__auth">
		<h2 class="modal__title">Авторизация</h2>
		<form class="modal__form">

			<div class="modal__select-wrapper">
				<include src="build/img/02-form-main/call.svg"></include>
				<input class="modal__phone" type="tel" placeholder="Ваш номер телефона">
			</div>

			<div class="modal__select-wrapper">
				<include src="build/img/05-modal/lock.svg"></include>
				<input class="modal__phone modal__phone--short" type="password" name="pass"  placeholder="Пароль">
				<a class="modal__pass-link" href="#">Забыли?</a>
			</div>

			<div class="modal__checkbox-wrapper">
				<input class="modal__checkbox" type="checkbox" id="rememberMe" name="rememberMe" checked>
				<include src="build/img/icons/check.svg"></include>
				<label class="modal__checkbox-text" for="rememberMe">
					Запомнить пароль
				</label>
			</div>
			<button class="btn btn__review btn__modal" type="submit">Авторизоваться</button>
			<div class="modal__reg-link-wrapper">
				<a class="modal__reg-link" href="#">Вы не
					<span class="modal__text--underline">
							зарегистрированы?
						</span>
				</a>
			</div>

		</form>
		<p class="modal__aouth-social">
			<span class="modal__aouth-text">Авторизоваться с:</span>
			<a class="modal__social-link" href="#" data-title="Facebook">
				<include src="build/img/icons/facebook-f.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Вконтакте">
				<include src="build/img/icons/vk.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Google+">
				<include src="build/img/icons/google-plus-g.svg"></include>
			</a>
		</p>


		<button class="modal__close close">

			<span class="visually-hidden">Закрыть форму регистрации</span>
			<include src="build/img/icons/close.svg"></include>
		</button>
	</section>
	<section class="modal__forgot-pass">
		<h2 class="modal__title">Забыли пароль?</h2>
		<form class="modal__form" action="http://scooterlabs.com/echo" method="post">
			<p class="modal__pass-text">
				Чтобы восстановить пароль, введите  номер телефона, который вы указывали при регистрации
			</p>
			<div class="modal__select-wrapper modal__select-wrapper--pass">
				<include src="build/img/02-form-main/call.svg"></include>
				<input class="modal__phone mask" type="tel" name="tel" pattern="^\+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required title="+7-910-920-21-12" placeholder="Ваш номер телефона">
			</div>
			<p class="modal__pass-text modal__pass-text-grey">
				На ваш номер в течение минуты поступит смс с новым кодом доступа
			</p>

			<button class="btn btn__review btn__modal" type="submit">Восстановить</button>
			<div class="modal__reg-link-wrapper">
				<a class="modal__reg-link" href="#">Вспомнили пароль?
					<span class="modal__text--underline">
							Вернуться назад
						</span>
				</a>
			</div>

		</form>
		<p class="modal__aouth-social">
			<span class="modal__aouth-text">Авторизоваться с:</span>
			<a class="modal__social-link" href="#" data-title="Facebook">
				<include src="build/img/icons/facebook-f.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Вконтакте">
				<include src="build/img/icons/vk.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Google+">
				<include src="build/img/icons/google-plus-g.svg"></include>
			</a>
		</p>


		<button class="modal__close close">

			<span class="visually-hidden">Закрыть форму регистрации</span>
			<include src="build/img/icons/close.svg"></include>
		</button>
	</section>
</div>
<div class="modal modal--reg">
	<section class="modal__auth modal__aouth--reg">
		<h2 class="modal__title">Регистрация</h2>
		<form class="modal__form" action="http://scooterlabs.com/echo" method="post">
			<div class="modal__input-wrapper">

				<div class="modal__select-wrapper modal__select-wrapper--reg">
					<include src="build/img/icons/user.svg"></include>
					<input class="modal__phone modal__phone--short" type="text" name="name"  placeholder="Ваше имя">
				</div>

				<div class="modal__select-wrapper modal__select-wrapper--reg">
					<include src="build/img/02-form-main/call.svg"></include>
					<input class="modal__phone mask" type="tel" name="tel" pattern="^\+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required title="+7-910-920-21-12" placeholder="Ваш номер телефона">
				</div>

				<div class="modal__select-wrapper modal__select-wrapper--reg">
					<include src="build/img/05-modal/lock.svg"></include>
					<input class="modal__phone modal__phone--short" type="password" name="pass"  placeholder="Придумайте пароль">
				</div>

				<div class="modal__select-wrapper modal__select-wrapper--reg">
					<include src="build/img/05-modal/lock.svg"></include>
					<input class="modal__phone modal__phone--short" type="password" name="pass"  placeholder="Подтвердите пароль">
				</div>


			</div>
			<!--In order to open/close other fields add/remove class .modal__show-hide--open for the div-->
			<div class="modal__show-hide">
				<label class="modal__checkbox-text modal__checkbox-text--show">
					Показать все поля
				</label>
				<div class="modal__additional-fields">
					<label class="modal__checkbox-text modal__checkbox-text--show modal__checkbox-text--show-up" >
						Свернуть
					</label>

					<div class="modal__input-wrapper">

						<div class="modal__select-wrapper modal__select-wrapper--reg">
							<include src="build/img/icons/date.svg"></include>
							<input class="modal__phone modal__phone--short" type="text" name="date"  placeholder="Дата">
						</div>

						<div class="modal__select-wrapper modal__select-wrapper--reg">
							<include src="build/img/icons/home.svg"></include>
							<input class="modal__phone modal__phone--short" type="text" name="place"  placeholder="Населенный пункт">
						</div>

					</div>
				</div>


			</div>

			<div class="modal__btn-wrapper">
				<div class="modal__btn-wrapper2">
					<button class="btn btn__review btn__modal" type="submit">Загеристрироваться</button>
					<div class="modal__reg-link-wrapper">
						<a class="modal__reg-link" href="#">Вы уже
							<span class="modal__text--underline">
							зарегистрированы?
						</span>
						</a>
					</div>
				</div>
				<p class="form__personal modal__personal">Нажимая на кнопку, вы принимаете <a class="form__personal-link modal__personal-link" href="#">Соглашение</a>
					на обработку персональных данных.</p>

			</div>




		</form>
		<p class="modal__aouth-social">
			<span class="modal__aouth-text modal__auth-text--reg">Зарегистрироваться с помощью социальных сетей:</span>
			<a class="modal__social-link" href="#" data-title="Facebook">
				<include src="build/img/icons/facebook-f.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Вконтакте">
				<include src="build/img/icons/vk.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Google+">
				<include src="build/img/icons/google-plus-g.svg"></include>
			</a>
		</p>

		<button class="modal__close close">

			<span class="visually-hidden">Закрыть форму регистрации</span>
			<include src="build/img/icons/close.svg"></include>
		</button>

	</section>
	<section class="modal__auth">
		<p class="modal__hi">Здравствуйте, Алекс!</p>
		<div class="modal__form">
			<p class="modal__pass-text modal__pass-text--bottom">
				Теперь вы имеете возможность пользоваться нашими сервисами абсолютно бесплатно
			</p>
			<p class="modal__pass-text modal__pass-text-grey">
				Вы можете кастомизировать свой личный кабинет для своего удобства
			</p>

			<button class="btn btn__review btn__modal" type="button">Личный кабинет</button>
			<div class="modal__reg-link-wrapper">
				<a class="modal__reg-link" href="#">Вернуться
					<span class="modal__text--underline">
							 на главную
						</span>
				</a>
			</div>

		</div>
		<p class="modal__aouth-social">
			<span class="modal__aouth-text">Поделиться в:</span>
			<a class="modal__social-link" href="#" data-title="Facebook">
				<include src="build/img/icons/facebook-f.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Вконтакте">
				<include src="build/img/icons/vk.svg"></include>
			</a>
			<a class="modal__social-link" href="#" data-title="Google+">
				<include src="build/img/icons/google-plus-g.svg"></include>
			</a>
		</p>


		<button class="modal__close close">

			<span class="visually-hidden">Закрыть форму регистрации</span>
			<include src="build/img/icons/close.svg"></include>
		</button>
	</section>
</div>


<section class="modal__auth modal__aouth--reg modal__bye">
	<h2 class="modal__title modal__bye-title">Уже уходите?</h2>
	<p class="modal__bye-text">Вы не забыли получить бонусы от страхового магазина “Инглавстрах”?
		Все, что вам для этого необходимо:</p>

	<div class="modal__form modal__form--bye">
		<div class="modal__input-wrapper">

			<div class="modal__select-wrapper modal__select-wrapper--reg">

				<span class="main__test-price test__price modal__bye-price">350<span class="main__test-price-sign">₽</span></span>
				<p class="modal__bye-title-inner">Шаг 1</p>
				<p class="modal__bye-text-inner">Рассчитайте стоимость полиса ОСАГО за 1 минуту и получите на него скидку 350 р.</p>
			</div>

			<div class="modal__select-wrapper modal__select-wrapper--reg">
				<svg class="test__form-thanks-svg test__form-thanks-svg--bye" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">

					<path class="test__form-thanks-svg1" d="M22.544 9.602c0.889-0.782 1.453-1.924 1.453-3.198 0-2.352-1.913-4.265-4.265-4.265-1.605 0-3.004 0.892-3.732 2.205-0.728-1.313-2.127-2.205-3.732-2.205-2.352 0-4.265 1.913-4.265 4.265 0 1.274 0.564 2.416 1.453 3.198h-6.251v20.259h25.59v-20.259h-6.251zM27.729 10.668v8.53h-11.196v-8.53h0.681l2.588 4.53 0.926-0.529-2.286-4.001h9.287zM16 8.544l0.604 1.058h-1.209l0.604-1.058zM19.732 3.205c1.764 0 3.199 1.435 3.199 3.199s-1.435 3.198-3.199 3.198c-1.764 0-3.199-1.434-3.199-3.198s1.435-3.199 3.199-3.199zM9.069 6.404c0-1.764 1.435-3.199 3.199-3.199s3.199 1.435 3.199 3.199c0 1.763-1.435 3.198-3.199 3.198s-3.199-1.434-3.199-3.198zM13.558 10.668l-2.286 4 0.926 0.529 2.588-4.53h0.681v8.53h-11.196v-8.53h9.287zM4.271 20.265h11.196v8.53h-11.196v-8.53zM16.533 28.794v-8.53h11.196v8.53h-11.196z" fill="#000000"></path>
				</svg>
				<p class="modal__bye-title-inner modal__bye-title-inner--margin">Шаг 2</p>
				<p class="modal__bye-text-inner">По итогам теста оформите полис ОСАГО и получите техосмотр стоимостью 650 руб. в подарок</p>
			</div>

		</div>

	</div>

	<p class="modal__aouth-social modal__aouth-social--bye">
		<a class="btn btn__review btn__modal btn__modal--bye" href="full-request.html">Рассчитать</a>

		<button class="btn-back test__btn-back" type="button">Нет, спасибо</button>
	</p>

	<button class="modal__close close">

		<span class="visually-hidden">Закрыть форму регистрации</span>
		<include src="build/img/icons/close.svg"></include>
	</button>
</section>


<section class="modal__auth modal__callback">
	<h2 class="modal__title">Обратный звонок</h2>
	<form class="modal__form modal__form--callback">

		<div class="modal__select-wrapper">
			<include src="build/img/icons/user.svg"></include>
			<input class="modal__phone" type="text" placeholder="Имя">
		</div>

		<div class="modal__select-wrapper">
			<include src="build/img/02-form-main/call.svg"></include>
			<input class="modal__phone mask" type="tel" placeholder="Ваш номер телефона">
		</div>

		<div class="modal__select-wrapper">
			<include src="build/img/icons/clock.svg"></include>
			<input class="modal__phone" type="text" placeholder="Удобное время звонка">
		</div>

		<div class="modal__checkbox-wrapper">
			<input class="modal__checkbox" type="checkbox" id="myData" name="rememberMe" checked>
			<include src="build/img/icons/check.svg"></include>
			<label class="modal__checkbox-text" for="myData">
				Согласен на обработку персональных данных
			</label>
		</div>
		<button class="btn btn__review btn__modal" type="submit">Заказать звонок</button>


	</form>

	<button class="modal__close close">

		<span class="visually-hidden">Закрыть форму регистрации</span>
		<include src="build/img/icons/close.svg"></include>
	</button>
</section>

<!--Add/remove class .modal--active in order to show/hide overlay-->
<div class="modal__overlay "></div>

<div class="modal modal--enter modal--gift">
	<!--Add/remove class .modal--active in order to show/hide auth-wrapper-->
	<section class="modal__forgot-pass modal__forgot-pass--gift">
		<p class="modal__gift-wrapper">
			<include src="build/img/02-form-main/gift.svg"></include>
		</p>

		<p class="modal__pass-text">
			Чтобы восстановить пароль, введите  номер телефона, который вы указывали при регистрации
		</p>
		<button class="btn btn__review btn__modal" type="submit">Оформить страховку</button>

		<button class="modal__close close">

			<span class="visually-hidden">Закрыть форму регистрации</span>
			<include src="build/img/icons/close.svg"></include>
		</button>
	</section>
</div>

<section class="modal__auth modal__callback modal--blog-item">
	<h2 class="modal__title">Комментарий</h2>
	<form class="modal__form modal__form--callback">

		<div class="modal__select-wrapper">
			<include src="build/img/icons/user.svg"></include>
			<input class="modal__phone" type="text" placeholder="Имя">
		</div>

		<div class="modal__select-wrapper">
			<include src="build/img/icons/link.svg"></include>
			<input class="modal__phone" type="text" placeholder="Ссылка на соцсеть">
		</div>

		<div class="modal__select-wrapper">
<!--			<include src="build/img/icons/clock.svg"></include>-->
			<textarea class="modal__phone" name="comment" id="comment-field" rows="10" placeholder="Текст комментария"></textarea>
		</div>

		<p class="modal__stars">
			<span class="modal__stars-full"></span>
			<span class="modal__stars-full"></span>
			<span class="modal__stars-full"></span>
			<span class="modal__stars-full modal__stars-empty"></span>
			<span class="modal__stars-full modal__stars-empty"></span>
		</p>

		<div class="modal__checkbox-wrapper">
			<input class="modal__checkbox" type="checkbox" id="myData1" name="rememberMe" checked>
			<include src="build/img/icons/check.svg"></include>
			<label class="modal__checkbox-text" for="myData1">
				Согласен с правилами сервиса
			</label>
		</div>
		<button class="btn btn__review btn__modal" type="submit">Отправить комментарий</button>


	</form>

	<button class="modal__close close">

		<span class="visually-hidden">Закрыть форму регистрации</span>
		<include src="build/img/icons/close.svg"></include>
	</button>
</section>

<!--Finish modal window registration layout-->
